<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardviewdemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--<android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<android:uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/monkey"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:label="@string/app_name"
            android:parentActivityName=".splash.SplashActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".OnboardingActivity"></activity>
        <!-- <activity android:name=".SearchActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.searchable" -->
        <!-- android:resource="@xml/searchable" /> -->
        <!-- </activity> -->
        <activity
            android:name=".CardViewDetailActivity"
            android:label="card_detail_view"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PersonDetailActivity"
            android:label="person_detail_view"
            android:parentActivityName=".CardViewDetailActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>